/* variable initialization */
:root{
   --primary-orange: hsl(26, 100%, 55%);
   --primary-pale-orange: hsl(25, 100%, 94%);
   --neutral-dark-blue:hsl(220, 13%, 13%);
   --grayish-blue:  hsl(220, 14%, 75%);
   --light-grayish-bluw:hsl(223, 64%, 98%);
   --white: hsl(0, 0%, 100%);
   --black:hsl(0, 0%, 0%);
   --lightbox-black:hsl(0, 0%, 75%);
   --primary-font:'Kumbh Sans', sans-serif;
}
section{
margin:0rem 5rem;
background-color: white;
}
html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--primary-font);
}
/* navbar css start */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu ul li{
    list-style: none;
    margin-left: 15px;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 10rem;
}
.cart-div{
    position: relative;
}
.cart-div::after{
    content: "5";
    width: 1rem;
    height: 1rem;
    background-color: var(--primary-orange);
    position: absolute;
    top: -0.6rem;
    right: -0.5rem;
    z-index: 5;
    font-size: 12px;
    padding: 0.05rem;
    border-radius: 50%;
    text-align: center;
    color: var(--white);

}
#avatar{
    width: 3rem;
}
#avatar:hover{
    outline: 2px solid var(--primary-orange);
    border-radius: 50%;
    outline-offset: 2px;
}
#avatar:focus-visible{
    outline: 2px solid var(--primary-orange);
    border-radius: 50%;
    outline-offset: 2px;
}

/* navbar css end */


hr{
    position: relative;
    top: 1rem;
}


/* hero section starts */
.hero{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* product imges section starts */
.left{
    width: fit-content;
}
.show{
    width: 25rem;
}
.show img{
    object-fit: cover;
    width: 100%;
    border-radius: 15px;
}
.product-thumb {

    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 1rem;
}
.product-thumb img{
    border-radius: 7px;
    width: 5rem;
}
.product-thumb button{
    background-color: transparent;
    border: none;
}
.product-thumb button:focus img{
    filter:opacity(.50);
    outline: 3px solid var(--primary-orange);
    outline-offset: 2px;
    
}
.product-thumb img:hover{
    filter: opacity(.75);
}

/* product images end */

/* product info starts */
.right{
    width: 30rem;
}
.item-info h5{
    color: var(--primary-orange);
    text-transform: uppercase;
    letter-spacing: 1px;
}
.item-info h2{
    text-transform: capitalize;
    font-size: 2.5rem;
}
.item-info p{
    font-size: 16px;
    font-weight: 400;
    color: var(--grayish-blue);
}
.item-price{
    width: fit-content;
}
.item-price div{
    display: flex;
    align-items: center;
    justify-content:flex-start;
}
.item-price div h2{
    padding: 0;
    margin: 0;
}
#discount{
    background-color: var(--primary-pale-orange);
    color: var(--primary-orange);
    padding: 4px 8px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 700;
    margin-left: 1rem;
}
.item-price p{
    color: var(--grayish-blue);
    text-decoration: line-through;
}


.item-buy{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: fit-content;
}

.range{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    background-color: var(--light-grayish-bluw);
    border-radius: 11px;
}
.range button{
    border: none;
    background-color: transparent;
    color: var(--primary-orange);
    
    padding: 0.8rem 1rem;
}
#product-range{
    padding: 0;
    margin: 0;
    font-weight: 700;
    font-size: 1rem ;
    padding: 1rem;
}

.add-cart{
    background-color: var(--primary-orange);
    color: var(--white);
    padding: 0.8rem 4rem;
    border: none;
    font-weight:700;
    font-size: 14px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
    border-radius: 8px;
    box-shadow: 0px 10px 26px 5px hsla(26, 100%, 55%, 0.21) ;
    cursor: pointer;
}

.add-cart img{
    filter:brightness(90);
}

/* product info ends */
#check{
    appearance: none;
    background-image: url("./images/icon-cart.svg");
    background-repeat: no-repeat;
    width: 1.5rem;
    height: 1.5rem;
}
.checkout{
    display: none;
    background-color: white;
    width: 20rem;
    height: fit-content;
    position: absolute;
    top: 4rem;
    right: -10rem;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.259);
    border-radius: 10px;
    padding: 1rem;
    z-index: 5;
}
.checkout p{
    margin: 0;
    text-transform: capitalize;
    font-weight: 700;
}
.checkout-items-empty{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: gray;
    margin: 2rem;
}
#check:checked + .checkout{
    display: block;
}
#checkout-items{
    margin-top: 2rem;
}
.list{
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
}
.details p{
color: gray;
font-weight: 400;
}
.details p span{
    color: black;
    font-weight: 700;
}
.checkout-img img{
    width: 4rem;
    object-fit: cover;
}
.hidden{
    display: none;
}